Flask
!python spacy download en_core_web_lg
matplotlib
pandas
nltk
streamlit
spacy
bs4
IPython
spacy_streamlit
numpy
wikipedia
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz 
